<div class="list-group">
  <% @posts.each do |post| %>
    <div class="list-group-item">
      <%= link_to post.message, post_path(id: post.id) %> - By <%= link_to post.user.username,  user_path(id: user.id) %>
    </div>
  <% end %>

</div>
