<div class="list-group">
    <div class="page-header">
      <h2>All the Gauzip<h2>
    </div>
    <div class="list-group-item">
      <% @posts.each do |post| %>
        <p>
          <%= link_to post.message, post_path(id: post.id) %> by <%= post.user.username %>
        </p>
      <% end %>
    </div>
</div>
